@model BeerNotifier.Models.UserViewModel
<h2>Welcome to the admin portal</h2>
<div id="message" class="alert alert-info hidden" role="alert"></div>
<h3>Actions</h3>
<p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Batch upload users</button></p>
<p><a class="btn btn-info btn-lg" href="@string.Join("",Request.Url.Scheme,"://", Request.Url.Host,":8888")">View Database</a></p>
<p><a id="reloadSchedule" class="btn btn-info btn-lg" href="#">Reload scheduled jobs</a></p>
<p><a id="notifyTest" class="btn btn-info btn-lg" href="#">Notify user at </a> @Html.DropDownList("location", Model.Locations)</p>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Batch upload/update users</h4>
            </div>
            <div class="modal-body">
                <h4>Steps</h4>
                <ol>
                    <li>Paste a string containing data in this order: Name, Email, LastDate, Location</li>
                    <li>Click Save</li>
                </ol>
                <div class="alert alert-info" role="alert">New users will be created, existing users will be updated</div>
                <div>
                    Tab delimited string to pre-populate from: <textarea rows="4" cols="50" id="preloadContent"></textarea>
                </div>
                <div>
                    Default Location: @Html.DropDownList("defaultLocation", Model.Locations)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveBatch">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h1>Processing...</h1>
    </div>
    <div class="modal-body">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var reload = '@Url.Action("ReloadSchedule")';
        var notifyTest = '@Url.Action("NotifyTest")';
        var post = '@Url.Action("SetParticipants")';
        $(function() {
            $("#saveBatch").click(function (e) {
                $("#myModal").modal('hide');
                //e.preventDefault();]
                var string = $("#preloadContent").val();
                var location = $("#defaultLocation").val();
                var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h1>Processing...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
                pleaseWaitDiv.modal();
                callServer(post, { participants: string, defaultLocation: location }, function(data) {
                    if (data.Success) {
                        $("#message").removeClass("hidden");
                        $("#message").html("Batch has been uploaded");
                    } else {
                        $("#message").removeClass("hidden");
                        $("#message").html("An error occured: " + data.Message);
                    }
                    pleaseWaitDiv.modal('hide');
                });
            });
            $("#reloadSchedule").click(function(e) {
                e.preventDefault();
                callServer(reload, function () {
                    $("#message").removeClass("hidden");
                    $("#message").html("Scheduled jobs reloaded");
                });
            });
            $("#notifyTest").click(function (e) {
                e.preventDefault();
                var location = $("#location").val();
                callServer(notifyTest, { location: location }, function () {
                    $("#message").removeClass("hidden");
                    $("#message").html("Test notification sent");
                });
            });
        });

        function callServer(url,info, callback) {
            $.ajax({
                type: "POST",
                url: url,
                data: info,
                success: function (data, status, obj) {
                    callback(data);
                },
                dataType: 'json'
            });
        };
    </script>
}
